{% extends "devices/base.html" %}

{% block content %}

<div class="container">

    <h1>🧪 Filterwechseln</h1>

    <form method="post">

        {% csrf_token %}


        <!-- ========================= -->
        <!-- Gerät suchen -->
        <!-- ========================= -->

        <p>

            <label>Gerät suchen</label>

            <input
                type="text"
                id="device-search"
                class="form-control"
                placeholder="Inventarnummer, Seriennummer oder Standort"
                autocomplete="off"
                value="{% if form.instance.geraet %}{{ form.instance.geraet.inventory_number }} | {{ form.instance.geraet.serial_number }} | {{ form.instance.geraet.practice.name }}{% endif %}"
            >

            <div
                id="device-results"
                style="
                    border:1px solid #ccc;
                    display:none;
                    max-height:200px;
                    overflow:auto;
                "
            ></div>

            <input
                type="hidden"
                name="geraet"
                id="id_geraet"
                value="{% if form.instance.geraet %}{{ form.instance.geraet.id }}{% endif %}"
            >

        </p>


        <!-- ========================= -->
        <!-- Anzahl der Filter -->
        <!-- ========================= -->

        <p>

            {{ form.anzahl_filter.label }}

            {{ form.anzahl_filter }}

        </p>


        <!-- ========================= -->
        <!-- Dynamische Filtercodes -->
        <!-- ========================= -->

        <div id="filtercodes-container"></div>


        <!-- ========================= -->
        <!-- Datum -->
        <!-- ========================= -->

        <p>

            {{ form.datum.label }}

            {{ form.datum }}

        </p>


        <!-- ========================= -->
        <!-- Durchgeführt von -->
        <!-- ========================= -->

        <p>

            {{ form.durchgeführt_von.label }}

            {{ form.durchgeführt_von }}

        </p>


        <!-- ========================= -->
        <!-- Bemerkung -->
        <!-- ========================= -->

        <p>

            {{ form.bemerkung.label }}

            {{ form.bemerkung }}

        </p>


        <!-- ========================= -->
        <!-- Buttons -->
        <!-- ========================= -->

        <button type="submit">

            💾 Speichern

        </button>


        <a href="{% url 'home' %}">

            ❌ Abbrechen

        </a>


    </form>

</div>


<!-- ===================================================== -->
<!-- GERÄTESUCHE -->
<!-- ===================================================== -->

<script>

const search =
    document.getElementById("device-search");


const results =
    document.getElementById("device-results");


const deviceInput =
    document.getElementById("id_geraet");


const devices = [

    {% for device in form.fields.geraet.queryset %}

    {
        id: "{{ device.id }}",

        text:
            "{{ device.inventory_number }} | {{ device.serial_number }} | {{ device.practice.name }}"
    },

    {% endfor %}

];


search.addEventListener(
    "keyup",
    function () {

        let value =
            search.value.toLowerCase();


        results.innerHTML = "";


        if (value.length < 1) {

            results.style.display = "none";

            return;
        }


        devices

            .filter(
                d =>
                    d.text
                        .toLowerCase()
                        .includes(value)
            )

            .forEach(
                function (device) {

                    let div =
                        document.createElement("div");


                    div.style.padding =
                        "8px";

                    div.style.cursor =
                        "pointer";


                    div.innerHTML =
                        device.text;


                    div.onclick =
                        function () {

                            search.value =
                                device.text;


                            deviceInput.value =
                                device.id;


                            results.style.display =
                                "none";

                        };


                    results.appendChild(div);

                }
            );


        results.style.display =
            results.children.length
                ? "block"
                : "none";

    }
);

</script>


<!-- ===================================================== -->
<!-- DYNAMISCHE FILTERCODES -->
<!-- ===================================================== -->

<script>

const anzahlFilter =
    document.getElementById(
        "id_anzahl_filter"
    );


const filtercodesContainer =
    document.getElementById(
        "filtercodes-container"
    );


/*
 * Vorhandene Filtercodes
 *
 * Beim neuen Filterwechsel ist diese Liste leer.
 *
 * Beim Bearbeiten kommt sie aus dem View:
 *
 * filtercodes = [
 *     "ABC123",
 *     "XYZ456"
 * ]
 */

const existingFiltercodes = [

    {% for code in filtercodes %}

        "{{ code|escapejs }}",

    {% endfor %}

];


function updateFiltercodes() {

    let anzahl =
        parseInt(
            anzahlFilter.value
        ) || 0;


    /*
     * Nur der Bereich der Filtercodes
     * wird gelöscht.
     */

    filtercodesContainer.innerHTML =
        "";


    /*
     * Neue Felder erstellen
     */

    for (
        let i = 1;
        i <= anzahl;
        i++
    ) {


        let p =
            document.createElement("p");


        p.className =
            "filtercode-field";


        /*
         * Label
         */

        let label =
            document.createElement("label");


        label.htmlFor =
            "filtercode_" + i;


        label.textContent =
            "Filtercode " + i;


        /*
         * Input
         */

        let input =
            document.createElement("input");


        input.type =
            "text";


        input.name =
            "filtercode_" + i;


        input.id =
            "filtercode_" + i;


        input.className =
            "form-control";


        /*
         * Beim Bearbeiten
         * alten Filtercode einsetzen
         */

        if (
            existingFiltercodes[i - 1]
        ) {

            input.value =
                existingFiltercodes[i - 1];

        }


        /*
         * Alles zusammenbauen
         */

        p.appendChild(
            label
        );


        p.appendChild(
            input
        );


        filtercodesContainer.appendChild(
            p
        );

    }

}


/*
 * Wenn Anzahl geändert wird
 */

anzahlFilter.addEventListener(
    "change",
    updateFiltercodes
);


anzahlFilter.addEventListener(
    "input",
    updateFiltercodes
);


/*
 * Beim Laden der Seite
 */

updateFiltercodes();

</script>

{% endblock %}