{% extends "devices/base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>
        🔑 Passwort zurücksetzen
    </h2>

    <p>
        Benutzer:
        <strong>{{ edit_user.username }}</strong>
    </p>

    <form method="post">

        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">
                Neues Passwort
            </label>

            <input
                type="password"
                name="password"
                class="form-control"
                required
            >
        </div>


        <button
            type="submit"
            class="btn btn-warning">
            Passwort speichern
        </button>


        <a
            href="{% url 'user_list' %}"
            class="btn btn-secondary">
            Zurück
        </a>

    </form>

</div>

{% endblock %}